<%- include layout/header %>

        <div class="container">
                <br/>
                <div class="row">
                        <div class="col-lg-10">
                                <h1>The User List</h1>
                        </div>
                        <div class="col-lg-2">
                                <a class="btn btn-primary" href="/user/add-new">Add new user</a>
                        </div>
                </div>
                <div class="row">
                        <table class="table table-hover">
                                <thead>
                                        <tr>
                                                <th>_id</th>
                                                <th>fullname</th>
                                                <th>email</th>
                                                <th>age</th>
                                                <th>action</th>
                                        </tr>
                                </thead>
                                <tbody>
                                        <%data.forEach(data=>{%>
                                        <tr>
                                                <td><%= data._id%></td>
                                                <td><%= data.fullname%></td>
                                                <td><%= data.email%></td>
                                                <td><%= data.age%></td>
                                                <td>
                                                        <a href="/user/edit/<%=data._id%>">
                                                                <img src="static/img/info.png" />
                                                        </a>
                                                        <a href="#">
                                                                <img src="static/img/delete.png" />
                                                        </a>
                                                </td>
                                        </tr>
                                        <%})%>
                                </tbody>
                        </table>
                </div>
        </div>
        <%- include layout/footer %>